services:
  trino:
    container_name: trino
    hostname: trino
    build:
      context: ./images/trino
      dockerfile: Dockerfile
      args:
        TRINO_VERSION: ${TRINO_VERSION}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '8080:8080'
    volumes:
      - ./configs/trino/:/opt/trino/etc
      - ./configs/hdfs:/opt/trino/confs
      - ./configs/trino/init-sql/:/opt/trino/init-sql/
      - ./logs/trino/:/opt/trino/logs/
    depends_on:
      - postgres
      - hms
      - namenode
      - datanode
      - airflow
    networks:
      dahbest:
        ipv4_address: 172.80.0.80

  dbt:
    container_name: dbt
    hostname: dbt
    build:
      context: ./images/dbt
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
    volumes:
      - ./configs/dbt/project:/opt/dbt/project
      - ./configs/dbt/profiles:/opt/dbt/profiles
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./logs/dbt/:/opt/dbt/project/logs/
    depends_on:
      - trino
      - postgres
    networks:
      dahbest:
        ipv4_address: 172.80.0.79

  airflow:
    container_name: airflow
    build:
      context: ./images/airflow
      dockerfile: Dockerfile
      args:
        AIRFLOW_VERSION: ${AIRFLOW_VERSION}
    environment:
      AIRFLOW_USER: ${AIRFLOW_USER}
      AIRFLOW_PASSWORD: ${AIRFLOW_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "9090:9090"
    volumes:
      - ./configs/airflow/configs/airflow.cfg.template:/opt/airflow/airflow.cfg.template
      - ./configs/airflow/configs/webserver_config.py:/opt/airflow/webserver_config.py
      - ./configs/airflow/configs/admin_password.json.template:/opt/airflow/auth/admin_password.json.template
      - ./configs/airflow/dags/:/opt/airflow/dags
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./logs/airflow:/opt/airflow/logs
    depends_on:
      - postgres
    networks:
      dahbest:
        ipv4_address: 172.80.0.75

  postgres:
    container_name: postgres
    hostname: postgres
    image: postgres:${POSTGRES_VERSION}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - ./configs/postgres/:/docker-entrypoint-initdb.d/
      - ./logs/postgres:/var/lib/postgresql/data
    networks:
      dahbest:
        ipv4_address: 172.80.0.10

  namenode:
    container_name: namenode
    hostname: namenode
    build:
      context: ./images/hdfs
      dockerfile: Dockerfile
      args:
        - HADOOP_VERSION=${HADOOP_VERSION}
    ports:
      - "9870:9870"
    volumes:
      - ./configs/hdfs/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./configs/hdfs/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./logs/hdfs/namenode:/opt/hadoop/logs/
    networks:
      dahbest:
        ipv4_address: 172.80.0.31
    depends_on:
      - postgres

  datanode:
    container_name: datanode
    hostname: datanode
    build:
      context: ./images/hdfs
      dockerfile: Dockerfile
      args:
        - HADOOP_VERSION=${HADOOP_VERSION}
    volumes:
      - ./configs/hdfs/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./configs/hdfs/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./logs/hdfs/datanode:/opt/hadoop/logs/
    networks:
      dahbest:
        ipv4_address: 172.80.0.32
    depends_on:
      - namenode

  hms:
    container_name: hms
    hostname: hms
    build:
      context: ./images/hms
      dockerfile: Dockerfile
      args:
        - METASTORE_VERSION=${METASTORE_VERSION}
        - HADOOP_VERSION=${HADOOP_VERSION}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 9083:9083
    volumes:
      - ./configs/hms/metastore-site.xml.template:/opt/hive-metastore/conf/metastore-site.xml.template
      - ./configs/hdfs/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./configs/hdfs/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./logs/hms:/opt/hive-metastore/logs/
    networks:
      dahbest:
        ipv4_address: 172.80.0.30
    depends_on:
      - postgres
      - namenode
      - datanode

networks:
  dahbest:
    external: true